<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.exam.mapper.exam.ExamMapper">
    <!--查询考试码-->
    <select id="getExamByCode" parameterType="com.system.exam.domain.qo.exam.ExamQO" resultType="com.system.exam.domain.dto.exam.ExamDTO">
        SELECT
        tab.examCode examCode,
        tab.examName examName,
        tab.score score,
        tab.teacherName teacherName,
        tab.time time,
        tab.pdDate pdDate,
        tab.expDate expDate,
        if(tab.remark='0' and tab.exp &lt; SYSDATE(),'2',tab.remark) remark,
        if(tab.remark='1',
            (select score from answer
            where exam_code=tab.examCode and student_number=#{number})
            ,'') myScore
        FROM
        (SELECT
        t.exam_code examCode,
        t.exam_name examName,
        t.score score,
        (select
        concat((select name from college WHERE code=te.college_code),',',te.name,'老师')
        from teacher te
        where te.number=t.teacher_number) teacherName,
        concat(t.time,'分钟') time,
        date_format(t.pd_time,'%Y-%m-%d %H:%i:%s') pdDate,
        date_format(t.exp_time,'%Y-%m-%d %H:%i:%s') expDate,
        t.exp_time exp,
        (select count(1) from answer
        where state='1' and exam_code=t.exam_code and student_number=#{number}) remark
        FROM exam t where t.exam_code=#{examCode}) tab
    </select>

    <!--获取未参加且未超过截止时间的考试（学生）-->
    <select id="pageNewExam" parameterType="com.system.exam.domain.qo.exam.NewExamQO" resultType="com.system.exam.domain.dto.exam.ExamDTO">
        SELECT
		t.exam_code examCode,
		t.exam_name examName,
		t.score score,
		(select
			concat((select name from college WHERE code=te.college_code),',',te.name,'老师')
			from teacher te
			where te.number=t.teacher_number) teacherName,
		concat(t.time,'分钟') time,
		date_format(t.pd_time,'%Y-%m-%d %H:%i:%s') pdDate,
		date_format(t.exp_time,'%Y-%m-%d %H:%i:%s') expDate,
		t.exp_time exp
		FROM exam_message em
			LEFT JOIN exam t on em.exam_code=t.exam_code
			LEFT JOIN answer ans on t.exam_code=ans.exam_code and ans.student_number=em.student_number
		WHERE t.state='1' and em.state='1'
		and (ans.state is null or ans.state!='1')
		and t.exp_time>SYSDATE()
		and em.student_number=#{number}
		ORDER BY t.exp_time,t.exam_code
    </select>

</mapper>