<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.exam.mapper.exam.ExamMapper">
    <!--查询考试码-->
    <select id="getExamByCode" parameterType="com.system.exam.domain.qo.exam.ExamQO" resultType="com.system.exam.domain.dto.exam.ExamDTO">
        SELECT
        tab.examCode examCode,
        tab.examName examName,
        tab.score score,
        tab.teacherName teacherName,
        tab.time time,
        tab.pdDate pdDate,
        tab.expDate expDate,
        if(tab.remark='0' and tab.exp &lt; SYSDATE(),'2',tab.remark) remark,
        if(tab.remark='1',
            (select score from answer
            where exam_code=tab.examCode and student_number=#{number})
            ,'') myScore
        FROM
        (SELECT
        t.exam_code examCode,
        t.exam_name examName,
        t.score score,
        (select
        concat((select name from college WHERE code=te.college_code),',',te.name,'老师')
        from teacher te
        where te.number=t.teacher_number) teacherName,
        concat(t.time,'分钟') time,
        date_format(t.pd_time,'%Y-%m-%d %H:%i:%s') pdDate,
        date_format(t.exp_time,'%Y-%m-%d %H:%i:%s') expDate,
        t.exp_time exp,
        (select count(1) from answer
        where state='1' and exam_code=t.exam_code and student_number=#{number}) remark
        FROM exam t where t.exam_code=#{examCode}) tab
    </select>

    <!--获取未参加且未超过截止时间的考试（学生）-->
    <select id="pageNewExam" parameterType="com.system.exam.domain.qo.exam.NewExamQO" resultType="com.system.exam.domain.dto.exam.ExamDTO">
        SELECT
		t.exam_code examCode,
		t.exam_name examName,
		t.score score,
		(select
			concat((select name from college WHERE code=te.college_code),',',te.name,'老师')
			from teacher te
			where te.number=t.teacher_number) teacherName,
		concat(t.time,'分钟') time,
		date_format(t.pd_time,'%Y-%m-%d %H:%i:%s') pdDate,
		date_format(t.exp_time,'%Y-%m-%d %H:%i:%s') expDate,
		t.exp_time exp
		FROM exam_message em
			LEFT JOIN exam t on em.exam_code=t.exam_code
			LEFT JOIN answer ans on t.exam_code=ans.exam_code and ans.student_number=em.student_number
		WHERE t.state='1' and em.state='1'
		and (ans.state is null or ans.state!='1')
		and t.exp_time>SYSDATE()
		and em.student_number=#{number}
		ORDER BY t.exp_time,t.exam_code
    </select>

    <!--近期（5条）考试成绩 （学生）-->
    <select id="listNewScore" parameterType="string" resultType="com.system.exam.domain.dto.exam.ExamDTO">
        select
            t.exam_code examCode,
            t.exam_name examName,
            t.score score,
            (select
                concat((select name from college WHERE code=te.college_code),',',te.name,'老师')
                from teacher te
                where te.number=t.teacher_number) teacherName,
            ans.use_time time,
            ans.score myScore
        from answer ans
        left join exam t on ans.exam_code=t.exam_code
        where ans.state='1' and t.state='1' and ans.student_number=#{number}
        ORDER BY ans.submit_time desc
        LIMIT 5
    </select>

    <!--进入考试-->
    <select id="enterExam" parameterType="com.system.exam.domain.qo.exam.ExamQO" resultType="com.system.exam.domain.dto.exam.EnterExamDTO">
        select
            t.exam_code examCode,
            t.exam_name examName,
            t.score score,
            t.time time,
            (select sum(score) from question
                where state='1' and exam_code=t.exam_code and type='1') singleScore,
            (select sum(score) from question
                where state='1' and exam_code=t.exam_code and type='2') multipleScore
        from exam t
        where t.state='1' and t.exam_code=#{examCode}
    </select>

    <!--根据题目类型，得到题目集合-->
    <select id="listQuestion" parameterType="com.system.exam.domain.qo.exam.ExamQO" resultType="com.system.exam.domain.dto.exam.QuestionDTO">
        select
            question question,
            answer answer,
            score score,
            option_a optionA,
            option_b optionB,
            option_c optionC,
            option_d optionD,
            answer_analysis analysis,
            img_question imgQuestion,
            img_a imgA,
            img_b imgB,
            img_c imgC,
            img_d imgD,
            img_analysis imgAnalysis
        from question
        where state='1' and type=#{type} and exam_code=#{examCode}
        ORDER BY id
    </select>

    <!--题目的正确答案-->
    <select id="listAnswer" parameterType="com.system.exam.domain.qo.exam.ExamQO" resultType="com.system.exam.domain.dto.exam.AnswerDTO">
        select
            answer answer,
            score score,
            answer_analysis answerAnalysis,
            img_analysis imgAnalysis
        from question
        where state='1' and exam_code=#{examCode} and type=#{type}
        order by id
    </select>

    <!--上传考试结果-->
    <insert id="submitAnswer" parameterType="com.system.exam.domain.qo.exam.AnswerQO">
        insert into answer(exam_code,student_number,single_answer,multiple_answer,score,use_time,submit_time,state)
        values (#{examCode},#{stuNumber},#{singleAnswer},#{multipleAnswer},#{score},#{useTime},#{submitTime},'1')
    </insert>

    <!--是否已参加考试-->
    <select id="checkExam" parameterType="com.system.exam.domain.qo.exam.ExamQO" resultType="int">
        select count(1) from answer
        where state='1' and exam_code=#{examCode} and student_number=#{number}
    </select>

    <!--得到考生答案-->
    <select id="getStuAns" parameterType="com.system.exam.domain.qo.exam.ExamQO" resultType="com.system.exam.domain.dto.exam.StuAnsDTO">
        select
            score score,
            single_answer singleAnswer,
            multiple_answer multipleAnswer
        from answer
        where state='1' and exam_code=#{examCode} and student_number=#{number}
    </select>

    <!--更新考生成绩-->
    <update id="updateScore" parameterType="com.system.exam.domain.qo.exam.ExamQO">
        update answer set score=#{stuScore}
        where state='1' and exam_code=#{examCode} and student_number=#{number}
    </update>

    <!--教师分页查询考试-->
    <select id="pageExam" parameterType="com.system.exam.domain.qo.exam.PageExamQO" resultType="com.system.exam.domain.dto.exam.PageExamDTO">
        select
            exam_code examCode,
            exam_name examName,
            score score,
            time time,
            date_format(pd_time,'%Y-%m-%d %H:%i:%s') pdDate,
            date_format(exp_time,'%Y-%m-%d %H:%i:%s') expDate
        from exam
        where state='1' and teacher_number=#{teacherNumber}
        <if test="examTerm!=null and examTerm!=''">
            and (exam_code like concat('%',#{examTerm},'%')
            or exam_name like concat('%',#{examTerm},'%'))
        </if>
    </select>
</mapper>