<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.exam.mapper.common.MbMapper">
    <select id="listExam" parameterType="string" resultType="com.system.exam.domain.dto.common.MbDTO">
        SELECT
            exam_code code,
            exam_name name
        FROM exam
        WHERE state='1' AND teacher_number=#{number}
        order by pd_time desc,exp_time
    </select>

    <select id="listCollege" resultType="com.system.exam.domain.dto.common.MbDTO">
        SELECT
            code code,
            name name
        FROM college
        WHERE state='1'
        order by code
    </select>

    <select id="listClazz" parameterType="string" resultType="com.system.exam.domain.dto.common.MbDTO">
        SELECT
            number code,
            number name
        FROM clazz
        WHERE state='1' and college_code=#{code}
        order by code
    </select>

    <select id="listClazzByCY" parameterType="string" resultType="com.system.exam.domain.dto.common.MbDTO">
        SELECT
            number code,
            number name
        FROM clazz
        WHERE state='1'
        <if test="collegeCode!=null and collegeCode!='0'.toString()">
            and college_code=#{collegeCode}
        </if>
        <if test="year!=null and year!='0'.toString()">
            and grade_year=#{year}
        </if>
        order by code
    </select>

    <select id="listYear" resultType="com.system.exam.domain.dto.common.MbDTO">
        select
            DISTINCT grade_year code,
            concat(grade_year,'级') name
        from clazz
        where state='1'
        order by code
    </select>
</mapper>