<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.exam.mapper.message.MessageMapper">
    <!--用户消息条数-->
    <select id="getMessageCount" parameterType="com.system.exam.domain.qo.message.MessageCountQO" resultType="com.system.exam.domain.dto.message.MessageCountDTO">
        SELECT
            (SELECT count(1) FROM message
            WHERE state='1' AND receiver_type=#{userType}
            AND receiver_number=#{number} AND receiver_state='1') newSum,
            (SELECT count(1) FROM message
            WHERE state='1' AND receiver_type=#{userType}
            AND receiver_number=#{number} AND receiver_state!='0') receiverSum,
            (SELECT count(1) FROM message
            WHERE state='1' AND send_type=#{userType}
            AND send_number=#{number} AND send_state='1') sendSum
        FROM DUAL
    </select>

    <!--分页查询新消息-->
    <select id="pageNewMessage" parameterType="com.system.exam.domain.qo.message.MessageQO" resultType="com.system.exam.domain.dto.message.MessageDTO">
        SELECT
            id,
            (CASE send_type
                WHEN 'admin' THEN '管理员'
                WHEN 'teacher' THEN '教师'
                ELSE '学生'
            END) userType,
            send_number userNumber,
            send_name userName,
            send_college collegeName,
            send_clazz clazzNumber,
            DATE_FORMAT(time,'%Y-%m-%d %H:%i:%s') time
        FROM message
        WHERE state='1' AND receiver_type=#{userType}
        AND receiver_number=#{number} AND receiver_state='1'
        ORDER BY time DESC
    </select>

    <!--分页查询已发消息-->
    <select id="pageSendMessage" parameterType="com.exam.system.domain.qo.message.MessageQO" resultType="com.exam.system.domain.dto.message.MessageDTO">
        SELECT
            id,
            (CASE receiver_type
                WHEN 'admin' THEN '管理员'
                WHEN 'teacher' THEN '教师'
                ELSE '学生'
            END) userType,
            receiver_number userNumber,
            receiver_name userName,
            receiver_college collegeName,
            receiver_clazz clazzNumber,
            DATE_FORMAT(time,'%Y-%m-%d %H:%i:%s') time
        FROM message
        WHERE state='1' AND send_type=#{userType}
        AND send_number=#{number} AND send_state='1'
        ORDER BY time DESC
    </select>

    <!--分页查询收信箱-->
    <select id="pageReceiverMessage" parameterType="com.exam.system.domain.qo.message.MessageQO" resultType="com.exam.system.domain.dto.message.MessageDTO">
        SELECT
            id,
            (CASE send_type
                WHEN 'admin' THEN '管理员'
                WHEN 'teacher' THEN '教师'
                ELSE '学生'
            END) userType,
            send_number userNumber,
            send_name userName,
            send_college collegeName,
            send_clazz clazzNumber,
            DATE_FORMAT(time,'%Y-%m-%d %H:%i:%s') time
        FROM message
        WHERE state='1' AND receiver_type=#{userType}
        AND receiver_number=#{number} AND receiver_state!='0'
        ORDER BY time DESC
    </select>

</mapper>