<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.exam.mapper.user.UserMapper">
    <!--用户登录-->
    <select id="login" parameterType="com.system.exam.domain.qo.user.LoginQO"
            resultType="com.system.exam.domain.dto.user.UserDTO">
        SELECT
            id,number,password,name,sex,tel,email,img_path,state
        FROM
        <choose>
            <when test="userType=='admin'.toString()">admin</when>
            <when test="userType=='teacher'.toString()">teacher</when>
            <otherwise>student</otherwise>
        </choose>
        WHERE state='1' AND number=#{number} AND password=#{password}
    </select>

    <!--获取管理员个人资料-->
    <select id="getAdminInfo" parameterType="com.system.exam.domain.qo.user.UserQO" resultType="com.system.exam.domain.dto.user.UserInfoDTO">
        SELECT
            t.number number,
            t.name name,
            t.sex sex,
            t.tel tel,
            t.email email,
            t.img_path img
        FROM admin t
        WHERE t.state='1' AND t.number=#{number}
    </select>

    <!--获取教师个人资料-->
    <select id="getTeacherInfo" parameterType="com.system.exam.domain.qo.user.UserQO" resultType="com.system.exam.domain.dto.user.UserInfoDTO">
        SELECT
            c.name college,
            t.number number,
            t.name name,
            t.sex sex,
            t.tel tel,
            t.email email,
            t.img_path img
        FROM teacher t left join college c on t.college_code=c.code
        WHERE t.state='1' and c.state='1' and t.number=#{number}
    </select>

    <!--获取学生个人资料-->
    <select id="getStudentInfo" parameterType="com.system.exam.domain.qo.user.UserQO" resultType="com.system.exam.domain.dto.user.UserInfoDTO">
        SELECT
            co.name college,
            cl.name major,
            stu.clazz_number clazz,
            stu.number number,
            stu.name name,
            stu.sex sex,
            stu.tel tel,
            stu.email email,
            stu.img_path img
        FROM student stu left join clazz cl on stu.clazz_number=cl.number
        left join college co on cl.college_code=co.code
        WHERE stu.state='1' and cl.state='1' and co.state='1' and stu.number=#{number}
    </select>

    <!--修改密码-->
    <update id="udatePassword" parameterType="com.system.exam.domain.qo.user.UdateQO">
        UPDATE
        <choose>
            <when test="userType=='admin'.toString()">admin</when>
            <when test="userType=='teacher'.toString()">teacher</when>
            <otherwise>student</otherwise>
        </choose>
        SET password=#{newPwd} WHERE number=#{number}
    </update>

    <!--修改电话和邮箱-->
    <update id="udateTelEmail" parameterType="com.system.exam.domain.qo.user.UdateQO">
        UPDATE
        <choose>
            <when test="userType=='admin'.toString()">admin</when>
            <when test="userType=='teacher'.toString()">teacher</when>
            <otherwise>student</otherwise>
        </choose>
        SET tel=#{tel},email=#{email} WHERE number=#{number}
    </update>

    <!--上传头像-->
    <update id="udateImg" parameterType="com.system.exam.domain.qo.user.UdateQO">
        UPDATE
        <choose>
            <when test="userType=='admin'.toString()">admin</when>
            <when test="userType=='teacher'.toString()">teacher</when>
            <otherwise>student</otherwise>
        </choose>
        SET img_path=#{img} WHERE number=#{number}
    </update>
</mapper>